@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Escape Room</h1>
    Imagen
    Imagen
    Imagen
</div>
<a href='@Url.Action("Tutorial")'><input type="button"value="Tutorial"></input></a>
<a href='@Url.Action("Creditos")'><input type="button"value="Creditos"></input></a>
<a href='@Url.Action("Comenzar")'><input type="button"value="Comenzar"></input></a>
