@{
    ViewData["Title"] = "Tutorial";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<p>Eres un arqueólogo que ha pasado gran parte de su vida explorando las ruinas de civilizaciones antiguas. Un día, mientras estás investigando una antigua leyenda, descubres la existencia de un tesoro oculto en las profundidades de una pirámide egipcia. Decides emprender un viaje hacia lo desconocido para buscar este tesoro y enfrentar los desafíos que se presenten en el camino.</p>